* {
    padding: 0;
    margin: 0;
    border: 0;
    
    box-sizing: border-box;

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    color: #2E2E2EF0;
}

html {
    /* Modificar o realce(highlight) usado por celulares para auxiliar visualmente que aquele elemento é "clicável" */
    -webkit-tap-highlight-color: transparent;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
}

/* Menu lateral */

.menu {
    width: 20%;
    background-color: #F4F4F471;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.sidebar-header {
    padding: 0 1.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

.sidebar-header > h1 {
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 3rem;
}

.menu-items {
    height: 90%; 
    padding-top: 6rem;
    
    display: flex; 
    justify-content: center;
}

.menu-items ul {
    display: flex; 
    flex-direction: column; 
    gap: 2rem;
    
}

.menu-items ul li {
   width: 100%;
    list-style: none;
}

/* Seção Principal (Tarefas pendentes) */

.task-section {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.main-header {
    width: 100%;
    height: 10%;
    padding: 0 1.5rem;
    
    display: flex;
    justify-content: right;
    align-items: center;
}

.main-header p {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.content-wrapper {
    height: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    padding-top: 2.5rem;
}

.content-wrapper h2 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 5rem;
    margin-bottom: 5rem;
}

.task-form {
    width: 35rem;
    height: 11rem;
    max-width: 100%;
    margin-bottom: 2rem;
    
    display: flex;
    gap: 1rem;
}

.form-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-title, .input-describe {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    background-color: #EBEBEBDC;
}

.input-title::placeholder, .input-describe::placeholder {
    color: rgba(0 0 0 / 35%);
}

.input-title {
    height: 40%;
    font-size: 1.3rem;
}

.input-describe {
    height: 60%;
    font-size: 1.1rem;
    resize: none; 
    color: #2E2E2ED0;
}

.close-modal-btn, .task-btn {
    width: 3rem;
    height: 3rem;
    padding: 1.5rem;
    border: none;
    border-radius: 100%;
    background-color: #1B75DE;
    font-size: 1.2rem;
    color: #FFFFFF;
    cursor: pointer;

    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

    display: flex;
    align-items: center;
    justify-content: center;
}

.close-modal-btn:hover, .task-btn:hover {
  background-color: #4590E4;
}

/* Lista de Tarefas (Pendentes e Concluídas) */

.task-list {
    width: 35rem;
    height: 20rem;
    border-radius: 0.25rem;
    list-style: none;
    
    overflow: scroll;

    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.task-list li {
    width: 100%;
    height: 5.5rem;
    padding: 0.9rem 1.75rem;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.task-list li div {
    display: flex;
    gap: 0.75rem;

    justify-content: space-between;
}

.trash-btn {
    padding: 0.25rem 0.3rem;
    border: none;
    cursor: pointer;
    background-color: #EEEEEE;
}

.trash-btn:hover {
  background-color: #D1D3D4;
}

.task-list li div p {
    font-size: 1.3rem;
}

.task-list > li > p {
    font-size: 1rem;
    margin-left: 1.9rem;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: rgba(46, 46, 46, 0.845);
}

.task-list li img {
    cursor: pointer;
    width: 20px;
}

.task-list li:hover {
    background-color: rgba(222, 222, 222, 0.204);
}

.completed {
    color: rgba(0 0 0 / 35%) !important; 
}

.display {
    display: none !important;
}

/* Modal de edição */

.modal-edit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-edit.active {
    display: flex;
}

.edit-form {
    width: 50rem;
    height: 30rem;
    max-width: 100%;
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    background-color: #FFFFFF; 
    border-radius: 0.5rem;
    padding: 2rem;
}

.input-edit-title, .input-edit-describe {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    outline: none;
}

.input-edit-title::placeholder, .input-edit-describe::placeholder {
    color: rgba(0 0 0 / 35%);
}

.input-edit-title {
    height: 20%;
    font-size: 1.3rem;
}

.input-edit-describe {
    height: 80%;
    font-size: 1.1rem;
    resize: none; 
    color: #2E2E2ED0;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    align-items: center;
    justify-content: center;
    display: none; 
}

.modal-overlay.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FFF;

    width: 30rem;
    height: 15rem;

     border-radius: 0.5rem;
}

.modal-content > .wrapper {
    border-radius: 8px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal-content > .wrapper > h3 {
    font-size: 2rem;
}

.modal-content > .wrapper > p {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.modal-actions {
    display: flex;
    gap: 1.3rem;
}

.modal-actions > button {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.cancel {
   background-color: #AAC4F5;
}

.cancel:hover {
   background-color: #8CA9FF;
}

.confirm-delete {
    background-color: #EEEEEE;
}

.confirm-delete:hover {
    background-color: #D1D3D4;
}




/* Media Queries */

@media screen and (max-width: 728px){

    h1 {
        font-size: 5.25rem;
    }

}